div(class = "check-box__buttons")
    h3(class = "check-box__heading check-box__buttons-heading") ПРАВИЛА ДОМА
    div(class = "check-box__item check-box__buttons-item")
        label(class = "check-box__label check-box__buttons-label" for = "smoke")
            input(class = "check-box__input check-box__buttons-input" type = "checkbox" name = "smoke" id = "smoke")
            span(class = "check-box__fake check-box__buttons-fake")
            p Можно курить
    div(class = "check-box__item check-box__buttons-item")
        label(class = "check-box__label check-box__buttons-label" for = "animals")
            input(class = "check-box__input check-box__buttons-input" type = "checkbox" name = "animals" id = "animals")
            span(class = "check-box__fake check-box__buttons-fake")
            p Можно с питомцами
    div(class = "check-box__item check-box__buttons-item")
        label(class = "check-box__label check-box__buttons-label" for = "guest")
            input(class = "check-box__input check-box__buttons-input" type = "checkbox" name = "guest" id = "guest")
            span(class = "check-box__fake check-box__buttons-fake")
            p Можно приглосить гостей (до 10 человек)