div(class = "drop-downs")
    h3(class = "drop-downs__global-heading") Филтрация даты
    div(class = "drop-downs__global" )
        p(class = "drop-downs__global-text") 19 авг - 23 авг
        span(class = "drop-downs__global-arrow" id = " ")
    