.text {
   display: flex;
   flex-direction: column;
    width: 100%;
   
        label{
            text-transform: uppercase;
        }
    
}
.text__global {
    
    border: 1px solid $DarkShade-25;
    border-radius: 0.5em;
    outline: none;

    font-size: $fn-xs;
    
    margin-top: 0.5em;
    padding: 1em 0;
    padding-left: 1em;

    width: 100%;

    
    

    
}
