div(class = "check-box__list-wrapper")
    span(class = "check-box__list-arrow")
    span(class = "check-box__list-arrow-model")
    h3 КАКОЙ-ТО ТЕКСТ    
    div(class = "check-box__list")
        div(class = "check-box__item check-box__list-item")
            label(class = "check-box__label check-box__list-label" for = "breakfest")
                input(class = "check-box__input check-box__list-input" type = "checkbox" name = "breakfest" id = "breakfest")
                span(class = "check-box__fake check-box__list-fake")
                p Завтрак

        div(class = "check-box__item check-box__list-item")
            label(class = "check-box__label check-box__list-label" for = "table")
                input(class = "check-box__input check-box__list-input" type = "checkbox" name = "table" id = "table")
                span(class = "check-box__fake check-box__list-fake")
                p Письменный стол

        div(class = "check-box__item check-box__list-item")
            label(class = "check-box__label check-box__list-label" for = "chair")
                input(class = "check-box__input check-box__list-input" type = "checkbox" name = "chair" id = "chair")
                span(class = "check-box__fake check-box__list-fake")
                p Стул для кормление

        div(class = "check-box__item check-box__list-item")
            label(class = "check-box__label check-box__list-label" for = "Bed")
                input(class = "check-box__input check-box__list-input" type = "checkbox" name = "Bed" id = "Bed")
                span(class = "check-box__fake check-box__list-fake")
                p Кроватка

        div(class = "check-box__item check-box__list-item")
            label(class = "check-box__label check-box__list-label" for = "TV")
                input(class = "check-box__input check-box__list-input" type = "checkbox" name = "TV" id = "TV")
                span(class = "check-box__fake check-box__list-fake")
                p Телевизор

        div(class = "check-box__item check-box__list-item")
            label(class = "check-box__label check-box__list-label" for = "Shampoo")
                input(class = "check-box__input check-box__list-input" type = "checkbox" name = "Shampoo" id = "Shampoo")
                span(class = "check-box__fake check-box__list-fake")
                p Шампунь