div(class = "find-rooms")
      form(action="" class = "find-rooms__form") 
            div(class = "find-rooms__tilte")
                  h1 Найдем номера под ваши пожелания
            div(class = "find-rooms__main")
                  div(class = "find-rooms__date")
                        include ../../form-elements/drop-downs/__date/drop-downs__date.pug

                  div(class = "find-rooms__guest")
                        include ../../form-elements/drop-downs/__general/drop-downs__general.pug
                        +DropBoxGuest()

                  div(class = "find-rooms__btn")
                        include ../../form-elements/buttons/buttons-general/buttons-general.pug
                        +buttonBig("Подобрать номер")
            
