div(class = "pagination")
      h3(class = "pagination__title")
      div(class = "pagination__main")
            div(class = "pagination__items")
                  span(class = "pagination__item pagination__active")
                  span(class = "pagination__item")
                  span(class = "pagination__item")
                  span(class = "pagination__item")
                  span(class = "pagination__item")
            div(class = "pagination__arrow")
                  span(class = "pagination__arrow-item")
      div(class = "pagination__footer")
            p(class = "pagination__text") 1 – 12 из 100+ вариантов аренды