div(class = "toggle")
    label(for="invite" class = "toggle__label") Получать спец предложения
        input(type="checkbox" id = "invite" name="invite" class = "toggle__input")
        span(class = "toggle__fake")