@import '../../scss/helpers/global.scss';

@import '../../blocks/footer/footer.scss';
@import '../../blocks/header/header.scss';

@import '../../blocks/forms/find-rooms/find-rooms.scss';

@import '../../blocks/form-elements/buttons/buttons-general/buttons-general.scss';

@import '../../blocks/form-elements/drop-downs/calendar/calendar.scss';
@import '../../blocks/form-elements/drop-downs/__date/drop-downs__date.scss';
@import '../../blocks/form-elements/drop-downs/drop-downs.scss';
@import '../../blocks/form-elements/drop-downs/__general/drop-downs__general.scss';
@import '../../blocks/form-elements/drop-downs/__date/_width/drop-downs__date_width.scss';
@import '../../blocks/form-elements/drop-downs/__filter-date/drop-downs__filter-date.scss';

@import '../../blocks/form-elements/text/__subscribe-email/text__subscribe-email.scss';
@import '../../blocks/form-elements/text/__subscribe-email/_width/text__subsribe-email_width.scss';
@import '../../blocks/form-elements/text/text.scss';
@import '../../blocks/form-elements/text/_hover-foucs/text__global_hover-focus.scss';





.main {
      position: relative;
      min-height: 450px;
      height: 100vw;
      max-height: 840px;
}
.main__image {
}
.main__image-item {
      width: 100%;
      height: 100vw;
      min-height: 450px;
      max-height: 840px;
      object-fit: cover;
      object-position: center;
}
.main__container {
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 5%;
      max-width: 1170px;
      width: 100%;
      margin: 0 auto;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
}
.main__wrapper {

}
.main__find-rooms {

}