
doctype html
html(lang="ru")
      head
            meta(charset="UTF-8")
            meta(http-equiv="X-UA-Compatible", content="IE=edge")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            title Document
      body
            //- ------------ header ------------------

            include ../../blocks/header/header.pug
            +header()

            //- ------------ header ------------------
            
            main(class = "main")
                  div(class = "main__image")
                        img(class = "main__image-item" src = require("./image-bg.jpg") alt = " ")
                  div(class = "main__container")
                        div(class = "main__wrapper")
                              div(class = "main__find-rooms")
                                          include ../../blocks/forms/find-rooms/find-rooms.pug

            //- ------------ footer ------------------

            include ../../blocks/footer/footer.pug

            //- ------------ footer ------------------
            