mixin RadioSex(GroupName)
    div(class = "radio")
        h3(class = "radio__heading")
        div(class = "radio__inner")
            div(class = "radio__block")
                label(class = "radio__label" for = "men-" + GroupName)
                    input(class = "radio__input" name = GroupName type = "radio" id = "men-" + GroupName)
                    span(class = "radio__fake")
                    p(class = "radio__text") Мужчина
            div(class = "radio__block")
                label(class = "radio__label" for = "mele-" + GroupName)
                    input(class = "radio__input" name = GroupName type = "radio" id = "mele-" + GroupName)
                    span(class = "radio__fake")
                    p(class = "radio__text") Женщина