.main-second {
      padding-top: 30px;
      padding-bottom: 80px;
      background-color: #F6F6F7;
}
.main-second__wrapper {
      display: grid;
      grid-template-columns: 1fr minmax(300px, auto);
      grid-template-rows: auto 80px;
      grid-gap: 25px 0;
}
.aside {
      grid-row: 1/2;
      max-width: 266px;
}
.main-second__date {
      
}
.main-second__guest {
      margin: 25px 0;
}
.main-second__range-slider {
      margin: 25px 0;
}
.main-second__range-slider-text {
      font-family: 'MontserratRegular';
      font-size: $fn-xxs;
      color: $DarkShade-50;
}
.main-second__rules-list {
      margin: 25px 0;
}
.main-second__reach-list {
      margin: 25px 0;
}
.main-second__comfort-check {
      margin: 25px 0;
}
.main-second__comfort-extra {
      margin-top: 25px;
}
.main-second__all-rooms {
      padding-top: 50px;
      position: relative;
      grid-row: 1/2;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 25px 15px;
}
.main-second__pagination {
      grid-column: 2/3;
      justify-self: center;
}
.main-second__heading {
      position: absolute;
      top: 0;
      left: 0;
}