
@mixin calcWidth($w, $wcont) {
      width: $w / $wcont * 100 + 0%;
}

@mixin media($breakpoint){
    @if($breakpoint == extraSmall) {
          @media(max-width: 400px) {
                @content;
          }
    }
    @if($breakpoint == large) {
          @media(max-width: 960px) {
                @content;
          }
    }
}

@mixin arrowRight($colorOne, $top, $direction) {

      height: 40px;
    width: 40px;
    position: absolute;
    right: 10px;
    @if($direction == left){
            left: 4px;
            &::after {
                  
                  font-size: 24px;
                  content: '\279C';
                  color: $colorOne;
                  display:block;
                  transform: rotate(180deg);
                 
            }
      }	
       @else {
            
            right: 0px;
            &::after {
                  font-size: 24px;
                  content: '\279C';
                  color: $colorOne;
                  display:block;
                  
            }
      }
    top: $top;
        


      &:hover,:focus {
            cursor: pointer;
                  &::before, &::after {
                        
                        opacity: 0.5;
                  }
      }     

}