.drop-downs__date {
    display: flex;
   justify-content: space-between;
    max-width: 320px; 

    position: relative;
    
    .drop-downs__no-arrow {
        display: none;
    }
     
}
@include media(extraSmall) {
    .drop-downs__date {
        flex-direction: column;
    }
    .calendar-date-one {
        margin-bottom: 20px;
    }
}


