div(class = "drop-downs")
        h3(class = "drop-downs__global-heading") Дата
        div(class = "drop-downs__global drop-downs__date drop-downs__date_width" id = "calendar-date-one")
                p(class = "drop-downs__global-text") ДД.ММ.ГГ
                span(class = "drop-downs__global-arrow" id = " ")