div(class = "drop-downs")
        div(class = "drop-downs__date")
                div(class = "drop-downs drop-downs__date_width")
                        h3(class = "drop-downs__global-heading") Прибытие
                        div(class = "drop-downs__global drop-downs__date" id = "calendar-date-one")
                                p(class = "drop-downs__global-text" id = "calendar__text-one") ДД.ММ.ГГ
                                span(class = "drop-downs__global-arrow" id = " ")
                div(class = "drop-downs drop-downs__date_width")
                        h3(class = "drop-downs__global-heading") Выезд
                        div(class = "drop-downs__global drop-downs__date drop-downs__date_width")
                                p(class = "drop-downs__global-text" id = "calendar__text-one-second") ДД.ММ.ГГ
                                span(class = "drop-downs__global-arrow drop-downs__no-arrow" id = " ")
        
                include ../calendar/calendar.pug
                +calendar("one")
                