
doctype html
html(lang="ru")
      head
            meta(charset="UTF-8")
            meta(http-equiv="X-UA-Compatible", content="IE=edge")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            title Document
      body
            //- ----------- litle blocks ---------------
            //- ----------- text-blocks ----------------
            include blocks/form-elements/text/__subscribe-email/text__subscribe__email.pug
            +TextSubscribe()
            include blocks/form-elements/text/__date/text__date.pug
            +TextDate()
            include blocks/form-elements/text/__user/text__user.pug
            +TextUser("Email", "Пароль", "pay-user")
            //- ----------- text-blocks ----------------

            //- ----------- drop-downs-blocks ----------
            include blocks/form-elements/drop-downs/__date/drop-downs__date.pug

            include blocks/form-elements/drop-downs/__filter-date/drop-downs__filter-date.pug

            include blocks/form-elements/drop-downs/__general/drop-downs__general.pug
            +DropBoxRooms()
            +DropBoxGuest()
             //- ----------- drop-downs-blocks ----------

            //- ------------ check-box-blocks ----------

            include blocks/form-elements/check-box/__buttons/check-box__buttons.pug

            include blocks/form-elements/check-box/__list/check-box__list.pug

            include blocks/form-elements/check-box/__buttons-rich/check-box__buttons-rich.pug
            

            
            