
doctype html
html(lang="ru")
      head
            meta(charset="UTF-8")
            meta(http-equiv="X-UA-Compatible", content="IE=edge")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            title Document
      body
            //- ------------ header ------------------

            include blocks/header/header.pug
            +header()

            //- ------------ header ------------------


            //- ----------- litle blocks ---------------
            //- ----------- text-blocks ----------------
            include blocks/form-elements/text/__subscribe-email/text__subscribe__email.pug
            +TextSubscribe()
            include blocks/form-elements/text/__date/text__date.pug
            +TextDate("firstDate")
            include blocks/form-elements/text/__user/text__user.pug
            +TextUser("Email", "Пароль", "pay-user")
            //- ----------- text-blocks ----------------

            //- ----------- drop-downs-blocks ----------

            include blocks/form-elements/drop-downs/__filter-date/drop-downs__filter-date.pug

            include blocks/form-elements/drop-downs/__general/drop-downs__general.pug
            +DropBoxRooms()
             //- ----------- drop-downs-blocks ----------

            //- ------------ check-box-blocks ----------

            include blocks/form-elements/check-box/__buttons/check-box__buttons.pug

            include blocks/form-elements/check-box/__list/check-box__list.pug

            include blocks/form-elements/check-box/__buttons-rich/check-box__buttons-rich.pug

            //- ------------ check-box-blocks ----------

            //- ------------ buttons-blocks ------------

            include blocks/form-elements/buttons/radio/radio.pug
            +RadioSex("firstSex")

            include blocks/form-elements/buttons/like/like.pug
            

            include blocks/form-elements/buttons/buttons-general/buttons-general.pug
            +buttonWithBg()
            +buttonWithBorder("Название")
            +buttonNoBorder()
            +buttonBig()

            //- ------------ buttons-blocks ------------

            //- ------------ toggle --------------------
            include blocks/form-elements/toggle/toggle.pug
            +Toggle("first")
            //- ------------ toggle --------------------

            //- ------------ range-slider --------------------
            include blocks/form-elements/range-slider/range-slider.pug
            //- ------------ range-slider --------------------

            //- ------------ pagination --------------------
            include blocks/form-elements/pagination/pagination.pug
            //- ------------ pagination --------------------

             //- ------------ bullet-list --------------------
            include blocks/form-elements/bullet-list/bullet-list.pug
            //- ------------ bullet-list --------------------

            //- ------------ comfrot --------------------
            include blocks/form-elements/comfort/comfort.pug
            //- ------------ comfrot --------------------

            //- ------------ review --------------------
            include blocks/form-elements/review/review.pug
            //- ------------ review --------------------

            //- ----------- litle blocks ---------------


            //- ------------ login --------------------

            include blocks/forms/login/login.pug
            
            //- ------------ login --------------------

            //- ------------ registr --------------------

            include blocks/forms/registr/registr.pug

            //- ------------ registr --------------------

            //- ------------ find-rooms --------------------

            include blocks/forms/find-rooms/find-rooms.pug

            //- ------------ find-rooms --------------------

            //- ------------ appart --------------------

            include blocks/forms/appart/appart.pug

            //- ------------ appart --------------------

            //- ------------ room --------------------

            include blocks/room/room.pug
            +roomLux(require("./blocks/room/image/room1.jpg"), 100)
            +roomUsual(require("./blocks/room/image/room2.jpg"), 200)
            +roomUsual(require("./blocks/room/image/room3.jpg"), 230)
            +roomUsual(require("./blocks/room/image/room4.jpg"), 245)
            +roomUsual(require("./blocks/room/image/room5.jpg"), 344)
            +roomUsual(require("./blocks/room/image/room6.jpg"), 255)
            +roomUsual(require("./blocks/room/image/room7.jpg"), 677)
            +roomLux(require("./blocks/room/image/room8.jpg"), 242)
            +roomUsual(require("./blocks/room/image/room9.jpg"), 323)
            +roomUsual(require("./blocks/room/image/room10.jpg"), 535)
            +roomUsual(require("./blocks/room/image/room11.jpg"), 124)
            +roomLux(require("./blocks/room/image/room12.jpg"), 643)
            //- ------------ room --------------------


            //- ------------ footer --------------------
            
            include blocks/footer/footer.pug

            //- ------------ footer --------------------
            
            