div(class = "range-slider")
    h3(class = "range-slider__heading") ДИАПАЗОН ЦЕНЫ
    div(class = "range-slider__text")
        span(class = "range-slider__item-text") 5000₽ 
        span(class = "range-slider__item-text") -  
        span(class = "range-slider__item-text") 10000₽
    div(class = "range-slider__block")
        div(id="slider")