.login {
      max-width: 380px;
      height: auto;
      border-radius: 10px;

      padding: 45px 30px 30px 30px;

      box-shadow: 0 0 10px rgba(0,0,0,0.5);

}
.login__btn-block {
      margin-top: 20px;
      height: 44px;
}
.login__footer {
      height: 50px;
      margin-top: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
}
.login__text {
      font-family: 'MontserratRegular';
      font-size: $fn-xs;
      color: $DarkShade-100;
}