div(class = "login")
      form(action="" class = "login__form")
            include ../../form-elements/text/__user/text__user.pug
            +TextUser("Email", "Пароль", "enter", "loginName", "loginPassword")
            
            div(class = "login__btn-block")
                  include ../../form-elements/buttons/buttons-general/buttons-general.pug
                  +buttonBig("Войти")
      div(class = "login__footer")
            p(class = "login__text") Нет аккаунта на Toxin?
            a(href = "registration.html")
                  include ../../form-elements/buttons/buttons-general/buttons-general.pug
                  +buttonWithBorder("Создать")
            