.rooms {
      padding: 45px 30px 30px 30px;
      max-width: 380px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.rooms__form {

}
.rooms__tilte {

      margin-bottom: 30px;
}
.rooms__main {

}
.rooms__date {

}
.rooms__guest {
      margin: 20px 0 30px 0;
}
.rooms__btn {

}