mixin buttonWithBg()
    div(class = "buttons-general")
        input(class = "buttons-general__btn buttons-general__btn-background buttons-general__btn_hover buttons-general__btn_width" type="button" value="нажми")
mixin buttonWithBorder()
    div(class = "buttons-general")
        input(class = "buttons-general__btn buttons-general__btn-border buttons-general__btn_hover buttons-general__btn_width" type="button" value="нажми" )
mixin buttonNoBorder() 
    div(class = "buttons-general")
        input(class = "buttons-general__btn buttons-general__btn-no-border buttons-general__btn_click buttons-general__btn_width" type="button" value="нажми" )
mixin buttonBig()
    div(class = "buttons-general")
        input(class = "buttons-general__btn buttons-general__btn-background buttons-general__btn_hover buttons-general__btn-big_width" type="button" value="нажми" )
        div(class = "buttons-general__big-arrow") 