mixin review(pathToImage, text, countLike)
      div(class = "review")
            div(class = "review__human")
                  div(class = "review__human-image")
                        img(src = pathToImage alt="human")
                  div(class = "review__human-name")
                        h3 Мурад Сарафанов
                  div(class = "review__human-online")
                        p 5 дней назад
            div(class = "review__main")
                  div(class = "review__like")
                        include ../buttons/like/like.pug
                        +Like(countLike)
                  div(class = "review__human-text")
                        p #{text}