div(class = "review")
      div(class = "review__human")
            div(class = "review__human-image")
                  img(src = require("./image.png") alt="human")
            div(class = "review__human-name")
                  h3 Мурад Сарафанов
            div(class = "review__human-online")
                  p 5 дней назад
      div(class = "review__main")
            div(class = "review__like")
                  include ../buttons/like/like.pug
            div(class = "review__human-text")
                  p Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.