div(class = "rate" )
    div(class = "rate__body")
        div(class = "rate__active")
        div(class = "rate__inputs")
            input(class = "rate__input" type = "radio"  name = "star" value = "1")
            input(class = "rate__input" type = "radio"  name = "star" value = "2")
            input(class = "rate__input" type = "radio"  name = "star" value = "3")
            input(class = "rate__input" type = "radio"  name = "star" value = "4")
            input(class = "rate__input" type = "radio"  name = "star" value = "5")