.like {
 display: inline-block;

}
.like__item {

}
.like__label {

}
.like__input {
    opacity: 0;
    position: absolute;

        &:checked + .like__fake {
            border-color: $Purple;

            .like__text {
                color: $Purple;
            }
            .like__heart {
                &::after {
                    color: $Purple;
                    -webkit-text-stroke-color: $Purple;
                }
            }
        }
       
}
.like__fake {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 20px;
    border-radius: 11px;

    border: 1px solid $DarkShade-25;
        &:hover {
            cursor: pointer;

        }
}
.like__text {
    margin: 0;
    font-size: 10px;
    color:  $DarkShade-25;
    font-family: 'MontserratRegular';
}
.like__heart {
    display: block;
    width: 12px;
    height: 100%;
    margin-right: 5px;
        &::after {
            content: '\2764';
            font-size: 12px;
            display: flex;
            align-items: center;
            height: 100%;

            -webkit-text-stroke-color: $DarkShade-25;
            -webkit-text-stroke-width: 1px;
            color: white;
        }
}