div(class = "like")
    div(class = "like__item" )
        label(class = "like__label")
            input(type = "checkBox" class = "like__input")
            span(class = "like__fake" tabindex = "0")
                span(class = "like__heart")
                p(class = "like__text") 2
        