mixin header(second)
      if second == "second"
            header(class = "header")
                  div(class = "container")
                        div(class = "header__wrapper")
                              div(class = "logo")
                                    img(src = require("../../blocks/Logo.svg") alt = "logo")
                              div(class = "header__right")
                                    menu(class = "header__menu")
                                          a(href="#" class = "header__item header__item_active") О нас
                                          a(href="#" class = "header__item header__item_arrow") Услуги
                                          a(href="#" class = "header__item") Вакансии 
                                          a(href="#" class = "header__item") Новости
                                          a(href="#" class = "header__item header__item_arrow") Соглашения
                                    div(class = "header__menu-сaesar")
                                          span Юлий Цезарь
                                         
      else
            header(class = "header")
                  div(class = "container")
                        div(class = "header__wrapper")
                              div(class = "logo")
                                    a(href = "index.html") 
                                          img(src = require("../../blocks/Logo.svg") alt = "logo")
                              div(class = "header__right")
                                    menu(class = "header__menu")
                                          a(href="#" class = "header__item header__item_active") О нас
                                          a(href="#" class = "header__item header__item_arrow") Услуги
                                          a(href="#" class = "header__item") Вакансии 
                                          a(href="#" class = "header__item") Новости
                                          a(href="#" class = "header__item header__item_arrow") Соглашения
                                          a(href="login.html" class = "header__item header__item_display-none") Войти
                                          a(href="registration.html" class = "header__item header__item_display-none") Зарегистрироваться
                                    div(class = "burger__menu")
                                          span(class = "burger__item")
                                          span(class = "burger__item")
                                          span(class = "burger__item")
                                    div(class = "header__menu-btn")
                                          a(href="login.html")
                                                include ../form-elements/buttons/buttons-general/buttons-general.pug
                                                +buttonWithBorderSmall("Войти")
                                          a(href = "registration.html")
                                                +buttonBig("Зарегистрироваться", "no")