.check-box__buttons-rich {
    max-width: 300px;

    .check-box__buttons-rich-text {
        max-width: 100%;
    }
}
.check-box__buttons-rich-title {
    font-size: $fn-xs;
    margin-left: 40px;
}
.check-box__buttons-rich-wrapper {

}
.check-box__buttons-rich-label {

    align-items: flex-start;
}
