
div(class = "check-box__buttons-rich")
    h3(class = "check-box__heading check-box__buttons-rich-heading") ДОСТУПНОСТЬ
    div(class = "check-box__item check-box__buttons-rich-item")
        label(class = "check-box__label check-box__buttons-rich-label" for = "home")
            input(class = "check-box__input check-box__buttons-rich-input" type = "checkbox" name = "homee" id = "home")
            span(class = "check-box__fake check-box__buttons-rich-fake")
            div(class = "check-box__buttons-rich-wrapper")
                h3(class = "check-box__buttons-rich-title") Широкий коридор
                p(class = "check-box__buttons-rich-text") Ширина коридоров в номере не менее 91 см.

    div(class = "check-box__item check-box__buttons-rich-item")
        label(class = "check-box__label check-box__buttons-rich-label" for = "helping")
            input(class = "check-box__input check-box__buttons-rich-input" type = "checkbox" name = "helping" id = "helping")
            span(class = "check-box__fake check-box__buttons-rich-fake")
            div(class = "check-box__buttons-rich-wrapper")
                h3(class = "check-box__buttons-rich-title") Помощник для инвалидов
                p(class = "check-box__buttons-rich-text") На 1 этаже вас встретит специалист  и проводит до номера.