.calendar {
      
      height: 369px;
      padding-bottom: 15px;

      border: 1px solid $DarkShade-25;
}

.calendar__up {
      position: relative;
      display: flex;
      justify-content: center;
      padding-top: 18px;
      
}

.calendar__up {

}

.calendar__arrow-right {
      @include arrowRight($Purple, 22px, right);
}
.calendar__arrow-left {
      @include arrowRight($Purple, 22px, left);
}

.calendar__week {
      display: flex;
      justify-content: space-between;
      max-width: 255px;
      margin: 0 auto;
      margin-top: 50px;
}
.calendar__week-item {
      color: $Purple;
      font-size: $fn-xxs;
      font-family: 'MontserratBold';
}
.calednar__days {
      margin: 0 auto;
      padding-top: 30px;
      max-width: 270px;
      display: grid;
      grid-template-columns: repeat(7, 35px);
      grid-template-rows: repeat(5, 35px);
      justify-content: space-between;
}
.calednar__days-item {
      display: flex;
      justify-content: center;
      align-items: center;

      font-size: $fn-xxs;
      font-family: 'MontserratRegular';
      color: $DarkShade-50;
      width: 40px;
      height: 40px;
      border-radius: 50%;

      box-sizing: border-box;

      transition: 0.2s;

            &:hover {
                  
                  cursor: pointer;
                  background: linear-gradient($Green, $Blue);
                  color: $DarkShade-5;
            }
            
      
}
.calendar__footer {
      max-width: 250px;
      
      margin: 0 auto;
      margin-top: 20px;
      
      display: flex;
      justify-content: space-between;
}
.calendar__buttons-item {
      color: $Purple;

}
  
.calendar__buttons-item_hover {
  
          &:hover {
              opacity: 0.5;
              cursor: pointer;
          }
  
}

.calendar__prev-item {
      opacity: 0.5;

}