.calendar {
      
      height: 400px;
      padding-bottom: 15px;
      margin-top: 5px;
      min-width: 285px;
      width: 100%;
      max-width: 320px;
      border: 1px solid $DarkShade-25;
      display: none;
      background-color: white;

      position: absolute;
      top: 70px;
      z-index: 1000;

    
      
}


.calendar__up {
      position: relative;
      display: flex;
      justify-content: center;
      padding-top: 18px;
      
}

.calendar__up {

}

.calendar__arrow-right {
      @include arrowRight($Purple, 15px, right);
}
.calendar__arrow-left {
      @include arrowRight($Purple, 18px, left);
}

.calendar__week {
      display: flex;
      justify-content: space-between;
      max-width: 255px;
      margin: 0 auto;
      margin-top: 40px;
}
.calendar__week-item {
      color: $Purple;
      font-size: $fn-xxs;
      font-family: 'MontserratBold';
}
.calednar__days {
      margin: 0 auto;
      padding-top: 25px;
      max-width: 270px;
      display: grid;
      grid-template-columns: repeat(7, 35px);
      grid-template-rows: repeat(5, 40px);
      justify-content: space-between;
}

.calednar__days-item {
      display: flex;
      justify-content: center;
      align-items: center;

      font-size: $fn-xxs;
      font-family: 'MontserratRegular';
      color: $DarkShade-50;
      width: 40px;
      height: 40px;
      border-radius: 50%;

      box-sizing: border-box;

      transition: 0.2s;

            &:hover {
                  
                  cursor: pointer;
                  background: linear-gradient($Purple, $Blue);
                  color: $DarkShade-5;
            }
            &:focus{
                  background: linear-gradient($Purple, $Blue);
                  color: $DarkShade-5;
            }
           
            
      
}
.calednar__days-item_light {
      background: linear-gradient( #E3E8FE, #EEE6FF);
      color: $DarkShade-50;
      border-radius: 0;
            
      
}
.calednar__days-item_focus-left {
      background: linear-gradient($Purple, $Blue);
      color: $DarkShade-5;
      position: relative;
                  &::after{
                        content: " ";
                        display: inline-block;
                        background: linear-gradient( #E3E8FE, #EEE6FF);
                        color: $DarkShade-50;
                        width: 20px;
                        height: 40px;
                        position: absolute;
                        right: 0;
                        z-index: -1;
                  }
           
}
.calednar__days-item_focus-right {
      background: linear-gradient($Purple, $Blue);
      color: $DarkShade-5;
      position: relative;

      &::after{
            content: " ";
            display: inline-block;
            background: linear-gradient( #E3E8FE, #EEE6FF);
            color: $DarkShade-50;
            width: 20px;
            height: 40px;
            position: absolute;
            left: 0;
            z-index: -1;
      }
}

.calendar__footer {
      max-width: 255px;
      
      margin: 0 auto;
      margin-top: 25px;
      
      display: flex;
      justify-content: space-between;

      
}
.calendar__buttons-item {
      color: $Purple;

}
  
.calendar__buttons-item_hover {
  
          &:hover {
              opacity: 0.5;
              cursor: pointer;
          }
  
}

.calendar__prev-item {
      opacity: 0.5;

}
.calendar__days-today {
      background: linear-gradient($Green, $Blue);
      color: $DarkShade-5;

           
}
@include media(extraSmall) {
    .calendar {
          left: -27px;
    }
}