.calendar {
      
      height: 369px;
}

.calendar__up {
      position: relative;
      display: flex;
      justify-content: center;
      padding-top: 18px;
      
}

.calendar__up {

}

.calendar__arrow-right {
      @include arrowRight($Purple, 22px, right);
}
.calendar__arrow-left {
      @include arrowRight($Purple, 22px, left);
}

.calendar__week {
      display: flex;
      justify-content: space-between;
      max-width: 255px;
      margin: 0 auto;
      margin-top: 50px;
}
.calendar__week-item {
      color: $Purple;
      font-size: $fn-xxs;
      font-family: 'MontserratBold';
}
.calednar__days {
      margin: 0 auto;
      padding-top: 30px;
      max-width: 255px;
      display: grid;
      grid-template-columns: repeat(7, 15px);
      grid-template-rows: repeat(5, 30px);
      justify-content: space-between;
}
.calednar__days-item {
      display: flex;
      justify-content: center;

      font-size: $fn-xxs;
      font-family: 'MontserratRegular';
      color: $DarkShade-50;
      
}
.calendar__footer {
      max-width: 280px;
      
      margin: 0 auto;
      margin-top: 15px;
      
      display: flex;
      justify-content: space-between;
}
.calendar__buttons-item {
      color: $Purple;
}
  
.calendar__buttons-item_hover {
  
          &:hover {
              opacity: 0.5;
              cursor: pointer;
          }
  
}