mixin calendar(type)      
      div(class = "calendar calendar-" + type)
            div(class = "calendar__up")
                  div(class = "calendar__arrow-right calendar__arrow-right-" + type)
                  h2(class = "calendar__heading calendar__heading-"  + type ) Июль 2021
                  div(class = "calendar__arrow-left calendar__arrow-left-"  + type)
            div(class = "calendar__main")
                  div(class = "calendar__week")
                        div(class = "calendar__week-item") Пн
                        div(class = "calendar__week-item") Вт
                        div(class = "calendar__week-item") Ср
                        div(class = "calendar__week-item") Чт
                        div(class = "calendar__week-item") Пт
                        div(class = "calendar__week-item") Сб
                        div(class = "calendar__week-item") Вс
                  div(class = "calednar__days calednar__days-" + type)

            div(class = "calendar__footer calendar__footer-" + type)
                  h3(class = "calendar__buttons-item calendar__buttons-item_hover" id = "calendar-delete-" + type) Очистить
                  h3(class = "calendar__buttons-item calendar__buttons-item_hover calendar__buttons-item-send-" + type) Применить
                  




                  