div(class = "calendar")
      div(class = "calendar__up")
            div(class = "calendar__arrow-right")
            h2(class = "calendar__heading") Июль 2021
            div(class = "calendar__arrow-left")
      div(class = "calendar__main")
            div(class = "calendar__week")
                  div(class = "calendar__week-item") Пн
                  div(class = "calendar__week-item") Вт
                  div(class = "calendar__week-item") Ср
                  div(class = "calendar__week-item") Чт
                  div(class = "calendar__week-item") Пт
                  div(class = "calendar__week-item") Сб
                  div(class = "calendar__week-item") Вс
            div(class = "calednar__days") 
                  

                  //- div(class = "calednar__days-item") 1
                  //- div(class = "calednar__days-item") 2
                  //- div(class = "calednar__days-item") 3
                  //- div(class = "calednar__days-item") 4
                  //- div(class = "calednar__days-item") 5
                  //- div(class = "calednar__days-item") 6
                  //- div(class = "calednar__days-item") 7
                  //- div(class = "calednar__days-item") 8
                  //- div(class = "calednar__days-item") 9
                  //- div(class = "calednar__days-item") 10
                  //- div(class = "calednar__days-item") 11
                  //- div(class = "calednar__days-item") 12
                  //- div(class = "calednar__days-item") 13
                  //- div(class = "calednar__days-item") 14
                  //- div(class = "calednar__days-item") 15
                  //- div(class = "calednar__days-item") 16
                  //- div(class = "calednar__days-item") 17
                  //- div(class = "calednar__days-item") 18
                  //- div(class = "calednar__days-item") 19
                  //- div(class = "calednar__days-item") 20
                  //- div(class = "calednar__days-item") 21
                  //- div(class = "calednar__days-item") 22
                  //- div(class = "calednar__days-item") 23
                  //- div(class = "calednar__days-item") 24
                  //- div(class = "calednar__days-item") 25
                  //- div(class = "calednar__days-item") 26
                  //- div(class = "calednar__days-item") 27
                  //- div(class = "calednar__days-item") 28
                  //- div(class = "calednar__days-item") 29
                  //- div(class = "calednar__days-item") 30
                  //- div(class = "calednar__days-item") 31
                  //- div(class = "calednar__days-item") 1
                  //- div(class = "calednar__days-item") 2
                  //- div(class = "calednar__days-item") 3
                  //- div(class = "calednar__days-item") 4

      div(class = "calendar__footer")
            h3(class = "calendar__buttons-item calendar__buttons-item_hover" id = "calendar-delete") Очистить
            h3(class = "calendar__buttons-item calendar__buttons-item-send calendar__buttons-item_hover" ) Применить
                  




                  