mixin TextUser(firstValue, secondValue, condition, firstName, secondName) 
    div(class = "text")
        label(for = "text__" + condition + "_first-field")
            if condition == "registr"
                h1(class = "text__heading-registr") Регистрация аккаунта
            else if condition == "enter"
                h1 Войти
            else 
                h3 Данные для входа в сервис
        input(type="text" class = "text__user text__global text__global_hover-focus" name = firstName id = "text__" + condition + "_first-field"  placeholder = firstValue)
        if condition == "registr"
            input(type="text" class = "text__user text__global text__global_hover-focus" name = secondName id = "text__" + condition + "_second-field" placeholder = secondValue)
        else if condition == "enter"
            input(type="password" class = "text__user text__global text__global_hover-focus" name = secondName id = "text__" + condition + "_second-field" placeholder = secondValue)
        else 
            input(type="password" class = "text__user text__global text__global_hover-focus" name = secondName id = "text__" + condition + "_second-field" placeholder = secondValue)