.footer {
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 100px;
      border-top: 1px solid $DarkShade-25;
      background-color: #F6F6F7;
}
.footer__wrapper {
      display: grid;

      grid-template-columns: repeat(5, auto);
      grid-gap: 0 30px;

      padding-bottom: 100px;
}
.footer__logo {
      padding-top: 16px;
      max-width: 260px;
}

.footer__logo-text {
      color: $DarkShade-75;
      font-size: $fn-xs;
      font-family: 'MontserratRegular';

      line-height: $fn-m;

      margin: 0;
      margin-top: 6px;
}
.footer__list {
      padding: 0;
      margin: 0;
      list-style-type: none;

       &:nth-child(1) {

       }
       &:nth-child(2) {
             
      }
      &:nth-child(3) {
             
      }
      &:nth-child(4) {
             justify-self: center;
      }
      &:nth-child(5) {
            justify-self: center;
      }
}
.footer__item {
      color: $DarkShade-50;
      font-size: $fn-xs;
      font-family: 'MontserratRegular';

      margin: 26px 0;
}
.footer__item_active {
      font-family: 'MontserratBold';
      color: $DarkShade-100;
      text-transform: uppercase;
}
.footer__list-subscribe {
      max-width: 260px;
}
.footer__list-subscribe-item {

}
.footer__copy {
      border-top: 1px solid $DarkShade-25;
      height: 72px;
}
.footer__copy-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 72px;
}
.footer__copy-left {
      
      p {
            color: $DarkShade-75;
            font-size: $fn-xs;
            font-family: 'MontserratRegular';
      }
}
.footer__copy-right {
      width: 120px;
      display: flex;
      justify-content: space-between;
}
@include media(large) {
      .footer__wrapper {
            grid-template-columns: 260px auto auto;
            grid-template-rows: auto auto;
            grid-gap: 30px;
      }
      .footer__logo {
            grid-column: 1/2;
            grid-row: 2/3;
      }
      .footer__list {

            &:nth-child(1) {

            }
            
            &:nth-child(2) {
                  justify-self: start;
            }
            &:nth-child(3) {
                  justify-self: center;
            }
            &:nth-child(5) {
                  grid-column: 2/4;
                  grid-row: 2/3;
                  justify-self: center;
            }
      }
      .footer__list-subscribe {
            max-width: 100%;
      }
}
@include media(medium) {
      .footer__wrapper {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(5, auto);
            grid-gap: 15px 0;
      }
      .footer__logo {
            grid-column: 1/2;
            grid-row: 4/5;
      }
      .footer__list {

            &:nth-child(1) {
                 
            }
            
            &:nth-child(2) {
                  grid-column: 1/2;
                  grid-row: 1/2;
                  justify-self: start;
                  
            }
            &:nth-child(3) {
                  grid-column: 1/2;
                  grid-row: 2/3;
                  justify-self: start;
            }
            &:nth-child(4){
                  justify-self: start;
            }
            &:nth-child(5) {
                  grid-column: 1/2;
                  grid-row: 5/6;
                  justify-self: start;
            }
      }
     
}
@include media(extraSmall) {
      .footer__copy-wrapper {
            flex-direction: column;
      }
}

