div(class = "comfort")
      figure(class = "comfort__row")
            div(class = "comfort__image")
                  img(src = require("./insert_emoticon.svg") alt="smile" srcset="")
            figcaption(class = "comfrot__block-text")
                  h3(class = "comfort__heading") Комфорт
                  p(class = "comfort__text") Шумопоглощающие стены
      figure(class = "comfort__row")
            div(class = "comfort__image")
                  img(src= require("./location_city.svg") alt="city" srcset="")
            figcaption(class = "comfrot__block-text")
                  h3(class = "comfort__heading") Удобство
                  p(class = "comfort__text") Окно в каждой из спален
      figure(class = "comfort__row")
            div(class = "comfort__image")
                  img(src= require("./whatshot.svg") alt="city" srcset="")
            figcaption(class = "comfrot__block-text")
                  h3(class = "comfort__heading") Уют
                  p(class = "comfort__text") Номер оснащён камином