div(class = "room")
      div(class = "room__up")
            div(class = "room__image")
                  div(class = "room__slider-item") 1
                  div(class = "room__slider-item") 2
                  div(class = "room__slider-item") 3 
                  div(class = "room__slider-item") 4
            div(class = "room__arrow")
                  span(class = "room__arrow-item")
                  span(class = "room__arrow-item")
            div(class = "room__circle")
                  span(class = "room__circle-item room__circle-active")
                  span(class = "room__circle-item")
                  span(class = "room__circle-item")
                  span(class = "room__circle-item")
      div(class = "room__main")
div(class = "room")
      div(class = "room__up")
            div(class = "room__image")
                  div(class = "room__slider-item") 1
                  div(class = "room__slider-item") 2
                  div(class = "room__slider-item") 3 
                  div(class = "room__slider-item") 4
            div(class = "room__arrow")
                  span(class = "room__arrow-item")
                  span(class = "room__arrow-item")
            div(class = "room__circle")
                  span(class = "room__circle-item room__circle-active")
                  span(class = "room__circle-item")
                  span(class = "room__circle-item")
                  span(class = "room__circle-item")
      div(class = "room__main")

div(class = "room")
      div(class = "room__up")
            div(class = "room__image")
                  div(class = "room__slider-item") 1
                  div(class = "room__slider-item") 2
                  div(class = "room__slider-item") 3 
                  div(class = "room__slider-item") 4
            div(class = "room__arrow")
                  span(class = "room__arrow-item")
                  span(class = "room__arrow-item")
            div(class = "room__circle")
                  span(class = "room__circle-item room__circle-active")
                  span(class = "room__circle-item")
                  span(class = "room__circle-item")
                  span(class = "room__circle-item")
      div(class = "room__main")

div(class = "room")
      div(class = "room__up")
            div(class = "room__image")
                  div(class = "room__slider-item") 1
                  div(class = "room__slider-item") 2
                  div(class = "room__slider-item") 3 
                  div(class = "room__slider-item") 4
            div(class = "room__arrow")
                  span(class = "room__arrow-item")
                  span(class = "room__arrow-item")
            div(class = "room__circle")
                  span(class = "room__circle-item room__circle-active")
                  span(class = "room__circle-item")
                  span(class = "room__circle-item")
                  span(class = "room__circle-item")
      div(class = "room__main")

div(class = "room")
      div(class = "room__up")
            div(class = "room__image")
                  div(class = "room__slider-item") 1
                  div(class = "room__slider-item") 2
                  div(class = "room__slider-item") 3 
                  div(class = "room__slider-item") 4
            div(class = "room__arrow")
                  span(class = "room__arrow-item")
                  span(class = "room__arrow-item")
            div(class = "room__circle")
                  span(class = "room__circle-item room__circle-active")
                  span(class = "room__circle-item")
                  span(class = "room__circle-item")
                  span(class = "room__circle-item")
      div(class = "room__main")

