doctype html
html(lang="en")
      head
            meta(charset="UTF-8")
            meta(http-equiv="X-UA-Compatible", content="IE=edge")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            title Document
      body 
            //- ------------ header ------------------

            include ../../blocks/header/header.pug
            +header()

            //- ------------ header ------------------
            
            main(class = "main-login")
                  div(class = "main-login__inner")
                        div(class = "main-login__image-block")
                              img(class = "main-login__imgae" src = require("../bg.jpg") alt="backgroundimage")
                        div(class = "main-login__wrapper")
                              include ../../blocks/forms/login/login.pug
                  
            //- ------------ footer ------------------

            include ../../blocks/footer/footer.pug

            //- ------------ footer ------------------