doctype html
html(lang="en")
      head
            meta(charset="UTF-8")
            meta(http-equiv="X-UA-Compatible", content="IE=edge")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            title Document
      body 
            //- ------------ header ------------------

            include ../../blocks/header/header.pug
            +header()

            //- ------------ header ------------------
                  
            main(class = "main-login")
                  div(class = "main-logn__image")
                        img(class = "main-login__image-item" src = require("../bg.jpg") alt = " ")
                  div(class = "main-login__container")
                        div(class = "main-login__wrapper")
                              div(class = "main-login__find-rooms")
                                          include ../../blocks/forms/login/login.pug
            //- ------------ footer ------------------

            include ../../blocks/footer/footer.pug

            //- ------------ footer ------------------