mixin DropBoxRooms()
    div(class = "drop-downs")

            h3(class = "drop-downs__global-heading") Комнаты
            div(class = "drop-downs__global drop-downs__general drop-downs__general_width")
                p(class = "drop-downs__global-text drop-downs__general-text") 0 Спален 0 Кроватей.....
                span(class = "drop-downs__global-arrow" id = "drop-downs__input-general")

            div(class = "drop-downs__block-general drop-downs__general_width")
                div(class = "drop-downs__block-row")
                    h3(class = "drop-downs__h3 drop-downs__h3-Bedrooms") Спальни
                    div(class = "drop-downs__score")
                        span(class = "drop-downs__score-minus_no-active drop-downs__score-minus_active-Bedrooms" id = "drop-downs__score-minus-Bedrooms") -
                        h3(id = "drop-downs__score-value-Bedrooms") 0
                        span(id = "drop-downs__score-plus-Bedrooms") +

                div(class = "drop-downs__block-row")
                    h3(class = "drop-downs__h3 drop-downs__h3-Beds") Кровати
                    div(class = "drop-downs__score")
                        span(class = "drop-downs__score-minus_no-active drop-downs__score-minus_active-Beds" id = "drop-downs__score-minus-Beds") -
                        h3(id = "drop-downs__score-value-Beds") 0
                        span(id = "drop-downs__score-plus-Beds") +

                div(class = "drop-downs__block-row")
                    h3(class = "drop-downs__h3 drop-downs__h3-Bathrooms") Ванные Комнаты
                    div(class = "drop-downs__score")
                        span(class = "drop-downs__score-minus_no-active drop-downs__score-minus_active-Bathrooms" id = "drop-downs__score-minus-Bathrooms") -
                        h3(id = "drop-downs__score-value-Bathrooms") 0
                        span(id = "drop-downs__score-plus-Bathrooms") +
mixin DropBoxGuest()
    div(class = "drop-downs")

            h3(class = "drop-downs__global-heading") Гости
            div(class = "drop-downs__global drop-downs__guest")
                p(class = "drop-downs__global-text drop-downs__guest-text") Сколько гостей
                span(class = "drop-downs__global-arrow" id = "drop-downs__input-guest")

            div(class = "drop-downs__block-guest drop-downs__block-general")
                div(class = "drop-downs__block-row")
                    h3(class = "drop-downs__h3 drop-downs__h3-Adults") Взрослые
                    div(class = "drop-downs__score")
                        span(class = "drop-downs__score-minus_no-active drop-downs__score-minus_active-Adults" id = "drop-downs__score-minus-Adults") -
                        h3(id = "drop-downs__score-value-Adults") 0
                        span(id = "drop-downs__score-plus-Adults") +

                div(class = "drop-downs__block-row")
                    h3(class = "drop-downs__h3 drop-downs__h3-Child") Дети
                    div(class = "drop-downs__score")
                        span(class = "drop-downs__score-minus_no-active drop-downs__score-minus_active-Child" id = "drop-downs__score-minus-Child") -
                        h3(id = "drop-downs__score-value-Child") 0
                        span(id = "drop-downs__score-plus-Child") +

                div(class = "drop-downs__block-row")
                    h3(class = "drop-downs__h3 drop-downs__h3-Baby") Младенцы
                    div(class = "drop-downs__score")
                        span(class = "drop-downs__score-minus_no-active drop-downs__score-minus_active-Baby" id = "drop-downs__score-minus-Baby") -
                        h3(id = "drop-downs__score-value-Baby") 0
                        span(id = "drop-downs__score-plus-Baby") +
                div(class = "drop-downs__buttons-guest")
                    h3(class = "drop-downs__buttons-item drop-downs__buttons-item_hover" id = "drop-downs__buttons-item_delete") Очистить
                    h3(class = "drop-downs__buttons-item drop-downs__buttons-item_hover" id = "drop-downs__buttons-item_send") Применить
            
                

