div(class = "drop-downs")
        h3(class = "drop-downs__global-heading") Комнаты
        div(class = "drop-downs__global drop-downs__general")
            p(class = "drop-downs__global-text drop-downs__general-text") 0 Спальни, 0 Кровати, 0 Ванные
            span(class = "drop-downs__global-arrow" id = "drop-downs__input")
        div(class = "drop-downs__block-general")
            div(class = "drop-downs__block-row")
                h3(class = "drop-downs__h3 drop-downs__h3-Bedrooms") Спальни
                div(class = "drop-downs__score")
                    span(id = "drop-downs__score-minus-Bedrooms") -
                    h3(id = "drop-downs__score-value-Bedrooms") 0
                    span(id = "drop-downs__score-plus-Bedrooms") +
            div(class = "drop-downs__block-row")
                h3(class = "drop-downs__h3 drop-downs__h3-Beds") Кровати
                div(class = "drop-downs__score")
                    span(id = "drop-downs__score-minus-Beds") -
                    h3(id = "drop-downs__score-value-Beds") 0
                    span(id = "drop-downs__score-plus-Beds") +
            div(class = "drop-downs__block-row")
                h3(class = "drop-downs__h3 drop-downs__h3-Bathrooms") Ванные команаты
                div(class = "drop-downs__score")
                    span(id = "drop-downs__score-minus-Bathrooms") -
                    h3(id = "drop-downs__score-value-Bathrooms") 0
                    span(id = "drop-downs__score-plus-Bathrooms") +

